<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>title</th>
        <td mat-cell *matCellDef="let dataset">{{ dataset.title }}</td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>description </th>
        <td mat-cell *matCellDef="let dataset">{{ dataset.description }}</td>
      </ng-container>
  
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Number of Values</th>
        <td mat-cell *matCellDef="let dataset">{{ getCount(dataset.data) }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  </div>
  