<body>
    <div class="container">
        <div class="header">
            Sign Up
        </div>
        <div>
            <input [(ngModel)]="user.username" (keydown.enter)="focusEmail()" type="text" placeholder="Enter your username" />
        </div>
        <div>
            <input [(ngModel)]="user.email" (keydown.enter)="focusPassword()" type="email" placeholder="Enter your email" />
        </div>
        <div>
            <input [(ngModel)]="user.password" (keydown.enter)="createAccount()" type="password" placeholder="Enter your password" />
        </div>
        <div class="checkbox-text">
            <label>
                I am a scientist.
            </label>
            <input type="checkbox" [(ngModel)]="user.isScientist" />
        </div>
        <div>
            <button (click)="createAccount()">Create account</button>
        </div>
    </div>
</body>
