
<div class="header">
    <div class="container">

        <div class="login-card">
            <div class="logo-container">
                <img src="/logo.png" alt="Logo" class="logo">
            </div>
            <h1 class="app-name"> Fishtagram </h1>
            <div>
                <input [(ngModel)]="username" (keydown.enter)="focusPassword()" type="username"  placeholder="Enter your username" />
            </div>
            <div>
                <input [(ngModel)]="password" (keydown.enter)="connect()" type="password" placeholder="Enter your password" />
            </div>
            <div>
                <button class="login-button" (click)="connect()">Connect</button>
            </div>
            <div>
                <button class="login-button" (click)="signUp()"> Sign up!</button>
            </div>
        </div>
    </div>
    
    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(28, 134, 190,0.5)" />
        <use xlink:href="#gentle-wave" x="88" y="88" fill="rgba(28, 134, 190,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(28, 134, 190,0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(28, 134, 190,0.9)" />
        </g>
        </svg>
    </div>
</div>