<body>
    <div class="container">
        <div>
            <input [(ngModel)]="user" type="username"  placeholder="Entrez votre pseudonyme" />
        </div>
        <div>
            <input [(ngModel)]="password" type="password" placeholder="Entrez votre mot de passe" />
        </div>
        <div>
            <button>Connecter</button>
            <!-- (click)="connect()" -->
        </div>
        <div>
            <button>Créer un compte</button>
            <!-- (click)="navToAccountCreation()" -->
        </div>
    </div>
</body>
