
    
    <div class="container">
        <div class="logo-container">
            <img src="/logo.png" alt="Logo" class="logo">
        </div>
        <div>
            <input [(ngModel)]="email" (keydown.enter)="focusPassword()" type="email"  placeholder="Enter your email" />
        </div>
        <div>
            <input [(ngModel)]="password" (keydown.enter)="connect()" type="password" placeholder="Enter your password" />
        </div>
        <div>
            <button (click)="connect()">Connect</button>
        </div>
        <div>
            <button (click)="signUp()"> Sign up!</button>
        </div>
    </div>
