<toolbar></toolbar>
<div class="content">
  @switch (currentScreen) {
    @case ('Publications') {
      <div class="publications-container">
        @for (pub of publications;  track pub){
          <mat-card class="card" appearance="outlined">
              <mat-card-header>
                <mat-card-title>{{pub.username}}</mat-card-title>
                <mat-card-subtitle>{{ pub.data.date | date: 'dd MMM yyyy, h:mm a' }}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src={{pub.data.imageUrl}} alt="Photo unavailable">
              <mat-card-content>
              <p class="info"><mat-icon>set_meal</mat-icon>{{pub.data.species ? pub.data.species : ''}}</p>
              <p class="info"><mat-icon>straighten</mat-icon>{{pub.data.length ? pub.data.length + ' cm' : ''}}</p>
              <p class="info"><mat-icon>scale</mat-icon>{{pub.data.weight ? pub.data.weight + ' kg' : ''}}</p>
              <p>{{pub.caption}}</p>
              </mat-card-content>
            </mat-card>
          }
      </div>
    }
    @case ('Rank') {
      <div class="rank-container">
        @for (user of leaderboard; track user) {
          <mat-card class="rank-card" [class.special-outline]="isYourUser(user.username)" appearance="outlined">
            <div class="rank-card-content">
              <div class="rank">#{{ leaderboard.indexOf(user) + 1 }}</div>
              <div class="user-name">{{ user.username }}</div>
              <div class="user-level">Level {{ user.level }}</div>
            </div>
          </mat-card>
        }
      </div>
    }
    @case ('Datasets') {
      <!-- Dataset screen content goes here -->
    }
    @default {
      console.error('Invalid screen');
    }
  }
</div>

<div class="bottom-bar">
  <mat-button-toggle-group [value]="currentScreen" (change)="onToggleChange($event)">
    <mat-button-toggle value="Publications">Publications</mat-button-toggle>
    <mat-button-toggle value="Rank">Rank</mat-button-toggle>
    @if (isScientist) {
      <mat-button-toggle value="Datasets">Datasets</mat-button-toggle>
    }
  </mat-button-toggle-group>
</div>