<mat-toolbar class="toolbar">
    <button class="post" (click)="openPost()">
        <mat-icon>upload</mat-icon>
        <span>Post</span>
    </button>
    <span class="title">Fishstagram</span>
    <div class="button-container">
        <button>Search fish data</button>
        <button mat-icon-button (click)="openAccount()">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>
<body>
    @for (pub of publications;  track pub){
        <mat-card class="card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{pub.username}}</mat-card-title>
              <mat-card-subtitle>{{ pub.data.date | date: 'dd MMM yyyy, h:mm a' }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>{{pub.data.species}}</p>
            <p>{{pub.data.length}}</p>
            <p>{{pub.data.weight}}</p>
            <p>{{pub.caption}}</p>
            </mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-icon-button>
                    <mat-icon>favorite</mat-icon>
                </button>
                <p>{{pub.likes}}</p>
            </mat-card-actions>
          </mat-card>
        }
</body>




