<toolbar></toolbar>
<body>
    @for (pub of publications;  track pub){
        <mat-card class="card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{pub.username}}</mat-card-title>
              <mat-card-subtitle>{{ pub.data.date | date: 'dd MMM yyyy, h:mm a' }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{pub.data.imageUrl}} alt="Photo unavailable">
            <mat-card-content>
            @if (pub.data.species){
                <p class="info"><mat-icon>{{ pub.data.species ? 'phishing' : '' }}</mat-icon>{{pub.data.species ? pub.data.species : ''}}</p>
            }
            @if (pub.data.length){
              <p class="info"><mat-icon>{{ pub.data.length ? 'straighten' : '' }}</mat-icon>{{pub.data.length ? pub.data.length + ' cm' : ''}}</p>
            }
            @if (pub.data.weight){
              <p class="info"><mat-icon>{{ pub.data.weight ? 'scale' : '' }}</mat-icon>{{pub.data.weight ? pub.data.weight + ' kg' : ''}}</p>
            }
            <p>{{pub.caption}}</p>
            </mat-card-content>
          </mat-card>
        }
</body>




