body,
html {
    margin: 0;
    padding: 0;
    height: fit-content;
    font-family: Arial, sans-serif;
    background-color: transparent;
    padding-top: 64px;
    background: 
    linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%), /* First gradient */
    linear-gradient(120deg, rgba(0,172,193,0.6) 0%, rgba(0,119,255,0.4) 100%); /* Second gradient */
}

.card {
    max-width: 300px;
    margin: 20px auto;
}

.card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.card-actions p {
    margin: 0;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
}

  