body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: transparent;
}

.toolbar {
    background-color: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
}

button {
    background-color: #519db3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:hover {
    background-color: #5786b5;
}


.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    color: white;
}

button.post {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 300px;
    margin: 20px auto;
}

.card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.card-actions p {
    margin: 0;
}

  