<h2 mat-dialog-title>Enter Username and Title</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="title" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>

