<body>
    <div class="container">
        <label for="picture">Upload picture: </label>
        <input type="file" id="picture" name="picture" accept="image/*" required (change)="previewImage($event)">
        @if (isImage()){
            <div>
                <img [src]="imageUrl" alt="Image preview" style="max-width: 300px; max-height: 300px;" />
            </div>
        }
        <label for="species">Caption: </label>
        <input type="text" id="caption" name="caption" [(ngModel)]="caption" placeholder="Enter caption" required>
        <label for="locationInput">Location: </label>
        <input type="text" id="locationInput" name="locationInput" [(ngModel)]="locationInput" placeholder="Enter location" required (click)="getLocation()" >
        <div>
            <button (click)="getSpecies(fishData.longitude,fishData.latitude)"> get species </button>
        </div>
        <label for="species">Species: </label>
        <input type="text" id="species" name="species" [(ngModel)]="fishData.species" placeholder="Enter species" required>
        <label for="size">Size: </label>
        <input type="text" id="size" name="size" [(ngModel)]="fishData.length" placeholder="Enter size in cm" required>
        <label for="weight">Weight: </label>
        <input type="text" id="weight" name="weight" [(ngModel)]="fishData.weight" placeholder="Enter weight in kg" required>
        <div>
            <button (click)="post()"> Post</button>
        </div>
    </div>
</body>
