<mat-toolbar class="toolbar">
    <div class="logo-container">
        <button (click)="openFeed()">
            <img src="/logo.png" alt="Logo" class="logo"></button>
        <div class="title"> Fishstagram </div>
    </div>
    
    <div class="button-container">
        <button (click)="openLogin()">
            <mat-icon id="no-overflow">home</mat-icon>
            <span>Logout</span>
        </button>
        <button class="post" (click)="openPost()">
            <mat-icon id="no-overflow">add</mat-icon>
            <span>Post</span>
        </button>
        @if (isScientist) {
            <button>
                <mat-icon id="no-overflow">folder</mat-icon>
                Search fish data
            </button>
        }
        <button (click)="openAccount()">
            <mat-icon id="no-overflow" >account_circle</mat-icon>
            {{ userName }}
        </button>
    </div>
</mat-toolbar>